<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header id="header" class="fixed-top header-inner-pages">
      <%- include('../partials/nav') %>
    </header>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Edit Post</h3>
            <!--<ol>
              <li><a href="/">Home</a></li>
              <li>Login</li>
            </ol>-->
          </div>
        </div>
      </section><!-- End Breadcrumbs -->

      <section class="inner-page">
        <div class="container mb-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-1 pl-2 pr-2">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/posts">Board</a></li>
              <li class="breadcrumb-item"><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Post</li>
            </ol>
          </nav>
    
          <form action="/posts/<%= post._id %>?_method=put<%= getPostQueryString(true) %>" enctype="multipart/form-data" method="post">
    
            <div class="form-group">
              <label for="title"><b>Title</b></label>
              <input type="text" id="title" name="title" value="<%= post.title %>" class="form-control <%= (errors.title)?'is-invalid':'' %>">
              <% if(errors.title){ %>
                <span class="invalid-feedback"><%= errors.title.message %></span>
              <% } %>
            </div>
            <br>
            
            <!-- Categories -->
            <div class="form-group">
              <label for="categories"><b>Categories</b></label>
              <input type="text" id="categories" name="categories" value="<%= post.categories %>" class="form-control <%= (errors.categories)?'is-invalid':'' %>">
              <% if(errors.categories){ %>
                <span class="invalid-feedback"><%= errors.categories.message %></span>
              <% } %>
            </div>
            <br>

             <!-- First Submission -->
             <div class="form-group">
              <label for="submission"><b>First Submission</b></label>
              <input type="date" id="submission" name="submission" value="<%= post.submission %>" class="form-control <%= (errors.submission)?'is-invalid':'' %>">
            </div>
            <br>

            <!-- Final URL -->
            <div class="form-group">
              <label for="url"><b>Final URL</b></label>
              <input type="text" id="url" name="url" value="<%= post.url %>" class="form-control <%= (errors.url)?'is-invalid':'' %>">
              <% if(errors.url){ %>
                <span class="invalid-feedback"><%= errors.url.message %></span>
              <% } %>
            </div>
            <br>
    
            <!-- IPFS hash -->
            <!--<div class="form-group">
              <label for="hash"><b>Malware Name</b></label>
              <input type="text" id="malwareName" name="malwareName" value="<%= post.malwareName %>" class="form-control <%= (errors.malwareName)?'is-invalid':'' %>">
              <input type="file" name="attachment" class="form-control-file" id="attachment" class="form-control">
              <input type="hidden" id="hash" name="hash" value="<%= post.hash %>" class="form-control">
            </div>-->
            
            <!-- Risk assessment -->
            <div class="form-group">
              <label for="assessment"><b>Risk Assessment</b></label>
              <br>
              <select id = "assessment" name="assessment" class="form-control">
                <option value="none">=== SELECT ===</option>
                <option value="Dangerous">Dangerous</option>
                <option value="Warning">Warning</option>
                <option value="Normal">Normal</option>
                <option value="Safe">Safe</option>
              </select>
            </div>
            <br>
    
            <!--<div class="form-group">
              <label for="title">Attachment</label>
    
              <input type="hidden" id="attachment" name="attachment" value="<%= post.attachment?post.attachment._id:'' %>">
    
              <% if(post.attachment){ %>
                <div class="input-group mb-3" id="currentAttachemnt">
                  <input type="text" class="form-control" value="<%= post.attachment.originalFileName %>" readonly />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="$('#attachment').val('');$('#currentAttachemnt').hide();$('#newAttachment').removeClass('d-none');">Delete</button>
                  </div>
                </div>
              <% } %>
              <input type="file" id="newAttachment" class="form-control-file <%= post.attachment?'d-none':'' %>" name="newAttachment">
            </div>-->
    
            <div class="form-group">
              <label for="body">Body</label>
              <textarea id="body" name="body" rows="5" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%= post.body %></textarea>
              <% if(errors.body){ %>
                <span class="invalid-feedback"><%= errors.body.message %></span>
              <% } %>
            </div>
    
            <% if(errors.unhandled){ %>
              <div class="invalid-feedback b-block">
                <%= errors.unhandled %>
              </div>
            <% } %>
    
            <div>
              <a class="btn btn-primary" href="/posts/<%= post._id %><%= getPostQueryString() %>">Back</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    
          </form>
    
        </div>

      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
