<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header id="header" class="fixed-top header-inner-pages">
    <%- include('../partials/nav') %>
  </header>

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="mb-3">Detected Malware List</h3>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Board</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox-content forum-container">

            <!-- Search -->
            <form action="/posts" method="get" class="post-index-tool">
              <div class="form-group col-md-6 mx-auto">
                <div class="input-group">
                  <select name="searchType" class="bg-light">
                    <option value="title,body" <%= searchType=='title,body'?'selected':'' %>>Title, Body</option>
                    <option value="title" <%= searchType=='title'?'selected':'' %>>Title</option>
                    <option value="body" <%= searchType=='body'?'selected':'' %>>Body</option>
                    <option value="author" <%= searchType=='author'?'selected':'' %>>Author</option>
                  </select>
                  <input class="col-sm-8 bg-light" placeholder="KeyWords" minLength="3" type="text" name="searchText" value="<%= searchText %>">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                  </div>
                </div>
              </div>
            </form>
            <br>

            <% if(posts == null || posts.length == 0){ %>
              <h3> There is no data to show :( </h3>
            <% } %>

            <!-- post list -->
            <% posts.forEach(function(post) { %>
                <div class="forum-item">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-icon">
                                <% if(post.assessment == "Dangerous"){ %>
                                  <i class="far fa-dizzy" style='font-size:43px;color:gray'></i>
                                <% } else if(post.assessment == "Warning"){ %>
                                  <i class="far fa-frown" style='font-size:43px;color:gray'></i>
                                <% } else if(post.assessment == "Normal"){ %>
                                  <i class="far fa-grin-tongue" style='font-size:43px;color:gray'></i>%>
                                <% } else if(post.assessment == "Safe"){ %>
                                  <i class="far fa-grin-beam" style='font-size:43px;color:gray'></i>%>
                                <% }%>
                            </div>
                            <!-- title -->
                            <a href="/posts/<%= post._id %><%= getPostQueryString() %>" class="title-container text-dark">
                              <div data-search-highlight="title" class="title-ellipsis ellipsis float-left">
                                <span class="title-text"><b><%= post.title %></b></span>
                              </div>
                            </a>
                            <!-- Date -->
                            <div class="forum-sub-title">Assessment: <%= post.assessment %> | <span data-date="<%= post.createdAt %>"></span></div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                              <!--<a href="/posts<%= getPostQueryString(false, { searchType:'author!', searchText:post.author.username }) %>">-->
                                <div data-search-highlight="author" class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                              </a>
                            </span>
                            <div>
                                <small>Author</small>
                            </div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                <%= post.views %>
                            </span>
                            <div>
                                <small>Views</small>
                            </div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">                                  
                              <%= post.commentCount %>
                            </span>
                            <div>
                                <small>Comments</small>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            <% }) %>
            
            <div class="row mb-3">
              <div class="col-2">
                <!-- 로그인된 경우에만 new 버튼이 보이도록 만든다. req.local에 isAuthenticated 포함 -->
                <% if(isAuthenticated){ %>
                  <a class="btn btn-primary" href="/posts/new<%= getPostQueryString() %>">New Post</a>
                <% } %>
              </div>
            
            <!-- 게시물 수 조절 -->
            <nav class="col-8">
              <%
                var offset = 2;
                var previousBtnEnabled = currentPage>1;
                var nextBtnEnabled = currentPage<maxPage;
              %>
              <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
                <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
                  <a class="page-link" href="/posts<%= getPostQueryString(false, {page:currentPage-1}) %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>&laquo;</a>
                </li>
                <% for(i=1;i<=maxPage;i++){ %>
                  <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                    <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/posts<%= getPostQueryString(false, {page:i}) %>"> <%= i %> </a></li>
                  <% } else if(i==2 || i==maxPage-1){ %>
                    <li><a class="page-link">...</a></li>
                  <% } %>
                <% } %>
                <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
                  <a class="page-link" href="/posts<%= getPostQueryString(false, {page:currentPage+1}) %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>&raquo;</a>
                </li>
              </ul>
            </nav>
          </div>

          <!-- pagination -->
          <form action="/posts" method="get" class="post-index-tool">
            <div class="form-row">
              <div class="form-group col-3">
                <label>Show</label>
                <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
                  <option value="5" <%= limit==5?'selected':'' %>>5 posts</option>
                  <option value="10" <%= limit==10?'selected':'' %>>10 posts</option>
                  <option value="20" <%= limit==20?'selected':'' %>>20 posts</option>
                </select>
              </div>
          </form>
              
        </div>
      </div>
    </div>
  </main>

<link href="/css/board.css" rel="stylesheet">

<%- include('../partials/footer') %>
</body>
</html>