<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header id="header" class="fixed-top header-inner-pages">
      <%- include('../partials/nav') %>
    </header>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3"><%= user.username %></h3>
            <!--<ol>
              <li><a href="/">Home</a></li>
              <li>Login</li>
            </ol>-->
          </div>
        </div>
      </section><!-- End Breadcrumbs -->

      <section class="inner-page">
        <div class="container mb-3">
          <form class="user-form" action="/users" method="post">
            <fieldset disabled>
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="email" name="email" value="<%= user.email %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="coin" class="col-sm-3 col-form-label">Coin</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="coin" name="coin" value="<%= coin %>">
                </div>
              </div>
            </fieldset>
          </form>

          <div>
            <% if(isAuthenticated && currentUser.id == user.id){ %>
              <a class="btn btn-primary" href="/users/<%= user.username %>/edit">Edit</a>
            <% } %>
          </div>

        </div>
    </section>

    <%- include('../partials/footer') %>
  </main>
  </body>
</html>
