<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header id="header" class="fixed-top header-inner-pages">
      <%- include('../partials/nav') %>
    </header>

    <main id="main">
      <section class="inner-page">
        <div class="container mb-3 d-flex justify-content-between align-items-center">
          <h3 class="mb-3"><%= user.username %></h3>
        </div>
        <hr>

        <div class="container mb-3">
          <form class="user-form" action="/users" method="post">
            <fieldset disabled>
              <div class="form-group row">
                <label for="name" class="col-sm-1 col-form-label"><b>Name:</b></label>
                <div class="col-sm-9">
                  <input class="form-control border-0" type="text" id="name" name="name" value="<%= user.name %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-1 col-form-label"><b>Email</b></label>
                <div class="col-sm-9">
                  <input class="form-control border-0" type="text" id="email" name="email" value="<%= user.email %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="coin" class="col-sm-1 col-form-label"><b>Coin</b></label>
                <div class="col-sm-9">
                  <input class="form-control border-0" type="text" id="coin" name="coin" value="<%= coin %>">
                </div>
              </div>
            </fieldset>
          </form>
          <br>
          <div>
            <% if(isAuthenticated && currentUser.id == user.id){ %>
              <a class="btn btn-primary" href="/users/<%= user.username %>/edit">Edit</a>
            <% } %>
          </div>

        </div>
    </section>

    <section class="breadcrumbs">
      <div class="container">

      </div>
    </section>

    <%- include('../partials/footer') %>
  </main>
  </body>
</html>
